
.mTable{   
   border-collapse:collapse;
   border:1px solid #000000;
}

.mTableHeader{
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:2px;
}

.mTableOddRow{
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFFF;	
}

.mTableEvenRow{
   text-align:center;
   background:none repeat scroll 0 0 #D3D3D3;
}
.mSusing{
	
	color:#00FF00;
}
.mSpause{
	
	color:#FFFF00;
}
.mSstopped{

	color:#FF0000;
}